Source: com.github.ilap.daf.demos.news
Section: x11
Priority: extra
Maintainer: Pal Dorogi <pal.dorogi@gmail.com>
Build-Depends: meson (>= 0.40),
               valac (>= 0.26),
               debhelper (>= 9),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev
Standards-Version: 3.9.3

Package: com.github.ilap.daf.demos.news
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Apple New's app challenge
